:root {
  --bc-font: #03045e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "JeonnamEducationYuna";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-1@1.0/JNE-Yuna-TTF-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cafe24LovingU";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
body {
  font-family: "JeonnamEducationYuna";
  letter-spacing: 2px;

  /* 화면 꽉 채우기 */
  min-height: 100vh;
  margin: 0;
  /* 그라데이션 배경 */
  background: linear-gradient(180deg, #e0f7fa 0%, #80deea 70%, #4ae3f5 100%) !important;
  /* 스크롤바 생성 방지 */
  overflow: hidden;
  /* before, after 기준 */
  position: relative;
}

body::before,
body::after {
  content: "";
  position: absolute;

  /* 화면보다 큰 가상 요소 설정 */
  width: 500vh;
  height: 500vh;
  left: 50%;
  top: 95vh;

  /* 찌그러진 사각형을 회전 */
  border-radius: 43%;
  /* 도형의 중심을 회전축으로 지정 */
  transform-origin: center center;
  transform: translate(-50%, -8%);
  z-index: -1;
}

/* 1번 파도 */
body::before {
  left: 40%;
  background-color: rgba(255, 255, 255, 0.35);
  animation: realWave 26s infinite linear;
}

/* 2번 파도 */
body::after {
  left: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  /* 찌그러진 정도를 다르게 지정 */
  border-radius: 40%;
  /* 1번 파도와 시작 각도를 다르게 두기 */
  transform: translate(-50%, -6%) rotate(60deg);
  /* infinite - 무한 반복 */
  /* linear - 일정한 속도 */
  animation: realWaveReverse 22s infinite linear;
}

/* 1번 파도 */
@keyframes realWave {
  /* 프레임 처음과 끝 지정 */
  /* 나머지는 브라우저가 채움 */
  0% {
    transform: translate(-50%, -8%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -8%) rotate(360deg);
  }
}

/* 2번 파도 */
@keyframes realWaveReverse {
  0% {
    transform: translate(-50%, -6%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -6%) rotate(0deg);
  }
}
/* -------------------------------------------------- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  width: 540px;
  height: 300px;
  padding: 21px;
  border: none;
  border-radius: 6px;
  box-shadow: 6px 6px 15px rgba(4, 64, 138, 0.5);
  background-color: rgba(0, 150, 199, 0.6);

  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}
.card.flip {
  transform: rotateY(180deg);
  box-shadow: -6px 6px 15px rgba(4, 64, 138, 0.5);
}
.front,
.back {
  top: 21px;
  left: 21px;
  right: 21px;
  bottom: 21px;

  position: absolute;
  backface-visibility: hidden;
}

.front {
  display: flex;
  justify-content: center;

  transform: rotateY(0deg);
}
.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo-out {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: #0077b6 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-in {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #023e8a 5px solid;
  opacity: 0.8;
}
.info {
  font-size: 18px;
  font-weight: 500;
  color: var(--bc-font);
}

.dropdown-container {
  display: none;
  position: absolute;
  right: 36px;
  bottom: 9px;

  border-left: 6px solid transparent;
}
.dropdown {
  display: flex;
  align-items: end;
}
.tag {
  color: #ade8f4;
  font-size: 21px;
  margin-bottom: 21px;
  margin-right: -6px;
}
.skills {
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: space-between;

  background-color: #ade8f4;
  padding: 6px;
  border-radius: 9px;
}
.skill {
  background-color: #48cae4;
  padding: 2px 9px;
  border-radius: 6px;
  font-size: 12px;
  color: var(--bc-font);
}
.company {
  position: absolute;
  -webkit-text-stroke: 4px rgba(0, 150, 199, 0.2);

  font-family: "Cafe24LovingU" !important;
  font-weight: bold;
  letter-spacing: 4px;
  color: white;
}
.fc {
  top: 90px;
  width: 300px;
  font-size: 28px;
}

/* 뒷면 */
.back {
  display: flex;

  transform: rotateY(180deg);
  color: var(--bc-font);
}
.back-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ade8f4;
  padding-right: 21px;
  padding-bottom: 21px;
  position: relative;
}
.back-info {
  font-family: "Cafe24LovingU" !important;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 21px;
}
.bl {
  margin: auto;
}
.logo-out.bl {
  width: 120px;
  height: 120px;
}
.logo-in.bl {
  width: 80px;
  height: 80px;
}
.blc {
  width: 90%;
  left: 0;
  text-align: center;
  top: 115px !important;
  font-size: 21px;
}
.back-right {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.br-mid {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3px;
  font-size: 15px;
}
.br-mid p {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.title {
  font-family: "Cafe24LovingU";
  font-size: 18px;
  letter-spacing: 2px !important;
  margin-right: 6px;
  font-weight: 500;
}
.myname {
  font-family: "JeonnamEducationYuna" !important;
  letter-spacing: 9px;
}
.br-mid a {
  text-decoration: none;
  color: var(--bc-font);
}
.br-top {
  display: flex;
  justify-content: right;
}
.profile {
  border-radius: 6px;
}
.br-bottom {
  display: flex;
  justify-content: right;
  align-items: end;
  gap: 6px;
  margin-top: auto;
}
.br-bottom p {
  font-style: italic;
  font-size: 12px;
}
.qr {
  width: 60px;
  height: 60px;
}
.dev:hover {
  font-style: italic;
  text-decoration: underline;
}
/* 호버 드롭 다운 */
.dev:hover + .dropdown-container {
  display: flex;
}
.dropdown-container:hover {
  display: flex;
  cursor: pointer;
  .skill:hover {
    background-color: #023e8a;
    color: white;
  }
}
/* 드롭다운이 호버된 상태에서 변경된 dev CSS 유지 */
.dev:has(+ .dropdown-container:hover) {
  font-style: italic;
}

a:hover {
  color: #caf0f8;
  font-style: italic;
}
