:root {
  --nt-menu-text: #191919;
  --nt-black-text: #0d0d0d;
  --nt-gray-text: #777777;
  --nt-lightgray: #a49e98;

  --nt-blue: #0075de;
  --nt-blue-hover: #025bab;
  --nt-lightblue: #e6f3fe;

  --nt-card: #f9f9f8;

  --nt-icon-red: #f74932;
  --nt-icon-blue: #0d7fe8;
  --nt-icon-yellow: #ffb10e;
  --nt-icon-deepblue: #1213ba;
  --nt-icon-green: #19ae39;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--nt-black-text);
}
a {
  text-decoration: none;
  color: var(--nt-black-text);
}
/* 헤더 */
header {
  background-color: white;
  color: var(--nt-menu-text);
  width: 100vw;
  height: 64px;

  padding: 15px 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* nav 중앙 정렬 */
  position: relative;

  /* 헤더 상단 고정 */
  position: sticky;
  top: 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 36px;
  height: 36px;
}
.nav {
  width: 318px;
  display: flex;
  /* gap: 21px; */
  justify-content: space-between;
  align-items: center;

  /* 화면 중앙 정렬 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 6px 9px;
  border-radius: 6px;
  color: var(--nt-menu-text);
  font-size: 14px;
  font-weight: 400;
  transition: background-color 0.3s ease;
}
.nav-toggle {
  width: 15px;
  font-size: 15px;
  font-weight: 600 !important;
  text-align: center;
  transform: rotate(-90deg) scaleY(1.2) scaleX(0.7) translateX(-1px);
  /* transition: transform 0.3s ease; */
}
.hd-right {
  display: flex;
  gap: 21px;
  align-items: center;

  color: var(--nt-menu-text);
  font-size: 15px;
  font-weight: 400;
}
.login {
  padding: 6px 9px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
.hd-right button {
  background-color: var(--nt-blue);
  border: none;
  border-radius: 8px;
  padding: 6px 15px;
  transition: background-color 0.3s ease;
}
.hd-btn {
  color: white;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
